<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <main>
            <nav>
                  {% if user.is_authenticated %}
                  <ul>
                        <li><a href="{% url 'login' %}"></a>Login</li>
                        <li><a href="{% url 'logout' %}"></a>logout</li>
                        <li><a href="{% url 'signup' %}"></a>Signup</li>
                  </ul>
                  {% endif %}
            </nav>
            <div>
                  <h1>Signup</h1>
                  <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                  <button>Signup</button>
            </div>
      </main>
</body>
</html>
