<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <main>
            <div>
                  <h1>My Receipts</h1>
                  <table>
                        <thead>
                              <tr>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Number of receipts</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% for a in account_list  %}
                              <tr>
                                    <td>{{a.name}}</td>
                                    <td>{{a.number}}</td>
                                    <td>{{a.receipts.all.count}}</td>
                              </tr>
                              {% endfor %}
                        </tbody>
                  </table>
            </div>
      </main>
</body>
</html>
