<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <main>
            <nav>
                  <ul>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}"></a>Logout</li>
                  <li><a href="{% url 'create_category' %}"></a>Create Category</li>
                  {% endif %}
                  </ul>
            </nav>
            <div>
                  <h1>My Receipts</h1>
                  <table>
                        <thead>
                              <tr>
                                    <th>Name</th>
                                    <th>Number of receipts</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% for c in category_list  %}
                              <tr>
                                    <td>{{c.name}}</td>
                                    <td>{{c.receipts.all.count}}</td>
                              </tr>
                              {% endfor %}
                        </tbody>
                  </table>
            </div>
      </main>
</body>
</html>
