<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <main>
            <nav>
                  <ul>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% endif %}
                  </ul>
            </nav>
                  <h1>My Receipts</h1>
                  <table>
                        <thead>
                              <tr>
                                    <th>Vendor</th>
                                    <th>Total</th>
                                    <th>Tax</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Account</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% for r in receipts_list  %}
                              <tr>
                                    <td>{{r.vendor}}</td>
                                    <td>{{r.total}}</td>
                                    <td>{{r.tax}}</td>
                                    <td>{{r.date|date:"m/d/y"}}</td>
                                    <td>{{r.category.name}}</td>
                                    <td>{{r.account.name}}</td>
                              </tr>
                              {% endfor %}
                        </tbody>

                  </table>
      </main>
</body>
</html>
